<%= f.input :title %>
<%= f.input :image, as: :attachinary %>
<%= f.input :short_description, input_html: { rows: 5 } %>

<%= f.input :body do %>
  <%= f.input_field :body, class: "form-control", rows: 20 %>
  <%= link_to "Markdown help", "http://assemble.io/docs/Cheatsheet-Markdown.html", target: "_blank", class: "pull-right" %>
  <%= link_to "Add new image", "#new-image-modal", data: { toggle: "modal" } %> |
  <%= link_to "Use image from gallery", "#images-modal", data: { toggle: "modal" } %>
<% end %>

<% if f.object.persisted? %>
  <%= f.input :slug %>
<% end %>

<%= f.input :published %>
