<% provide(:title, "Home") %>
<div class="index-wrapper">
  <table class="table table-action">
    <thead>
      <tr>
        <th class="t-small">Title</th>
        <th class="t-medium">Slug</th>
        <th class="t-small">Cover image</th>
        <th class="t-medium">Date</th>
        <th class="t-smass">Published</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= link_to page.title, edit_admin_page_path(page) %></td>
          <td><%= page.slug %></td>
          <td><% if page.image.present? %>
            <%= page_image_tag(page, :small) %>
          <% else %>
            <%= page_image_tag(page, :no_image) %>
          <% end %></td>
          <td><%= Time.now.strftime("%Y-%d-%m %H:%M:%S %Z") %></td>
          <td><%= page.published %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
