<% provide(:title, "New Article") %>

<%= render "admin/pages/modals/new_image" %>
<%= render "admin/pages/modals/images" %>

<div class="form-wrapper">
  <h1>New Article</h1>

  <%= simple_form_for [:admin, @page] do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit "Create new article", class: "btn btn-primary" %>
  <% end %>
</div>
