body {
  margin: 0px;
}
#header {
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #909090;
}
#nav-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  ul {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      font-family: 'Neucha', cursive;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 2px;
      text-decoration: none;
      color: #777;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #header {
    height: 100px;
  }
  .logo-name {
    display: none;
  }
  .logo-mobile {
    width: 200px;
    height: 80px;
    margin: 10px;
    float: right;
  }
  #nav-container {
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    display: block;
    -webkit-transform: translate3d(-600px, 0px, 0px);
    -moz-transform: translate3d(-600px, 0px, 0px);
    -ms-transform: translate3d(-600px, 0px, 0px);
    -o-transform: translate3d(-600px, 0px, 0px);
    transform: translate3d(-600px, 0px, 0px);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #nav-container.opened {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    background-color: #f9fafa;
  }
  #nav-container li {
    margin-top: -10px;
    padding: 10px 0px;
    display: block;
  }
  #nav-container li a {
    margin-left: -20px;
    width: 100%;
    display: block;
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  #nav-container li a:hover {
    color: #C58917;
  }
  #nav-container li a:active {
    color: #C58917;
  }
  #toggle-nav {
    display: block;
    height: 70px;
    width: 70px;
  }
  #toggle-nav:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 40px;
    width: 24px;
    height: 3px;
    background: #C58917;
    box-shadow: 0 6px 0 0 #C58917, 0 12px 0 0 #C58917;
  }
  #close-nav {
    margin: 10px;
    display: block;
    padding: 10px;
    background: #F9FAFA;
    height: 50px;
    text-align: right;
    font-weight: bold;
    color: #C58917;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
  }
  #close-nav:after {
    content: '✖';
    padding: 5px 8px;
    border: 2px solid #C58917;
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  #nav-container {
    height: 100px;
    margin-top: 0;
    ul {
      float: right;
      li {
        display: inline-block;
        margin: 25px 7px 0px 7px;
      }
    a {
       color: #777;
        &:hover {
          color: #C58917;
        }
      }
      .active a {
        color: #C58917;
      }
    }
  }
  #close-nav {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .logo-name {
    margin: 10px;
    width: 200px;
    height: 80px;
  }
}
@media (min-width: 992px) {
  #nav-container {
    width: 990px;
  }
  .logo-name {
    width: 200px;
    height: 80px;
    margin: 10px;
  }
}
