#footer {
  border-top: 1px solid #909090;
  margin-top: 40px;
}
.footer-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.footer-wrapper ul {
  list-style: none;
}
.footer-logo {
  width: 120px;
  height: 60px;
}
.footer-wrapper p {
  font-family: 'Neucha', cursive;
  font-size: 14px;
  color: #C58917;
  text-align: center;
}
.fa-chevron-up {
  color: #C58917;
  border: 1px solid #C58917;
  padding: 5px 8px 7px 8px;
}
.fa-chevron-up:hover {
  color: #fff;
  text-decoration: none;
  background-color: #C58917;
}
@media (min-width:320px) and (max-width: 569px) {
  .footer-wrapper ul {
    margin-left: -15px;
  }
  .footer-wrapper li {
    display: block;
    text-align: center;
  }
}
@media (min-width: 570px) and (max-width: 991px) {
  .footer-wrapper li {
    display: inline-block;
  }
  .footer-logo {
    float: left;
    margin-left: -40px;
  }
  .footer-wrapper p {
    margin-top: 30px;
    margin-left: -15px;
  }
  .fa-chevron-up {
    margin-top: 10px;
    float: right;
    margin-right: -20px;
  }
}
@media (min-width: 992px) {
  .footer-wrapper {
    width: 990px;
  }
  .footer-logo {
    float: left;
    margin-left: -50px;
  }
  .footer-wrapper p {
    margin-top: 40px;
    margin-left: -15px;
  }
  .fa-chevron-up {
    margin-top: 10px;
    float: right;
    margin-right: -20px;
  }
}
