<div id="images-modal" class="modal fade" data-images-path="<%= admin_images_path(format: :json) %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Galerija</h4>
      </div>

      <div class="modal-body">
        Loading images ...
      </div>

    </div>
  </div>
</div>
