<div id="new-image-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Dodaj sliku</h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for [:admin, Image.new], remote: true do |f| %>
          <%= f.attachinary_file_field :attachment %>

          <%= submit_tag "Koristi sliku", class: "btn btn-primary" %>
          <a class="btn btn-default" data-dismiss="modal">Odustani</a>
        <% end %>
      </div>

    </div>
  </div>
</div>
