.admin-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  height: 60px;
}
.admin-nav {
  list-style: none;
  margin-top: 20px;
  font-family: 'Neucha', cursive;
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px 15px 0px 15px;
    color: #777;
    font-weight: bold;
    &:hover {
      color: #777;
      padding: 22px 15px;
    }
  }
  .active {
    a {
      background-color: #e7e7e7;
      padding: 22px 15px;
      color: #777;
    }
  }
}
.admin-logo {
  height: 40px;
  margin: 10px;
}
