.index-wrapper {
  margin: 20px;
}
table {
  font-family: 'Neucha', cursive;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  border-top: 1px solid #dddddd;
}
.table thead th {
  background: #eeeeee;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
  padding-top: 10px;
}
