.form-wrapper {
  margin: 20px;
  font-family: 'Neucha', cursive;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form-wrapper h1 {
  margin-bottom: 40px;
}
.btn {
  font-family: 'Neucha', cursive;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.attachinary_container ul li {
  list-style: none;
}
.attachinary_container {
  margin-top: 20px;
}
.attachinary_container a {
  margin-left: 20px;
}
.attachinary-input {
  margin-bottom: 15px;
}
.close {
  float: right;
}

/* flash messages style */
.alert {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Neucha', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}
