.about-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.about-content {
  line-height: 28px;
  font-size: 18px;
  text-align: justify;
  font-family: 'Neucha', cursive;
  padding: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fff;
}
.name, .description {
  font-family: 'Neucha', cursive;
  text-align: center;
  font-weight: bold;
  color: #909090;
  height: 120px;
  background-color: #f0f0f0;
  border-top: 3px solid #909090;
}
.name {
  margin: -10px -20px 0px 0px;
  font-size: 32px;
}
.name h1 {
  margin: 0;
  padding-top: 20px;
}
.description {
  padding-top: 25px;
  font-size: 22px;
  margin: -10px -20px 0px 0px;
  border-left: 1px solid #909090;
}
.skills {
  height: 120px;
  text-align: center;
  margin: -20px -20px 0px 0px;
}
.skill-one {
  background-color: #55acee;
  border-top: 5px solid #4489be;
}
.skill-one:hover {
  background-color: #66b4ef;
}
.skill-two {
  background-color: #069;
  border-top: 5px solid #00517a;
}
.skill-two:hover {
  background-color: #3284ad;
}
.skill-three {
  background-color: #3a5795;
  border-top: 5px solid #2e4577;
}
.skill-three:hover {
  background-color: #6178aa;
}
.skill-four {
  background-color: #e0e0e0;
  border-top: 5px solid #b3b3b3;
}
.skill-four:hover {
  background-color: #e6e6e6;
}
.fa-twitter, .fa-linkedin, .fa-facebook, .fa-envelope-o {
  color: #fff;
  padding-top: 45px;
  text-decoration: none;
}
.fa:hover {
  text-decoration: none;
}
.fa-twitter:hover, .fa-linkedin:hover, .fa-facebook:hover, .fa-envelope-o:hover {
  color: #fff;
}
@media (max-width: 568px) {
  .about-wrapper {
    margin-left: -10px;
  }
  .name {
    margin-top: 0px;
  }
  .profile-image {
    height: 240px;
    width: auto;
    text-align: center;
  }
}
@media (min-width: 569px) and (max-width: 767px) {
  .profile {
    margin: -10px -20px;
    height: 240px;
    width: 220px;
  }
  .profile-image {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .profile-image {
    height: 240px;
    width: 100%;
  }
  .profile {
    margin: -10px -20px;
    height: 230px;
    width: 260px;
  }
  .skill-one {
    margin-right: -15px;
  }
  .skill-two {
    margin-left: -5px;
  }
  .skill-three {
    margin-right: -25px;
  }
  .skill-four {
    margin-left: 5px;
  }
}
@media (min-width: 992px) {
  .about-wrapper {
    width: 990px;
    margin: 50px 0px;
    height: 240px;
  }
  .about-content {
    width: 990px;
  }
  .profile-image {
    height: 240px;
    width: 260px;
  }
}
