body {
  background-color: #f9fafa;
}
.post {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fff;
  font-family:'Roboto', sans-serif;
  height: auto;
}
.entry-blog {
  margin: 20px;
  text-transform: uppercase;
}
.title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Neucha', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  a {
    color: #777;
    text-decoration: none;
    &:hover {
      color: #C58917;
    }
  }
}
.date {
  font-family: 'Neucha', cursive;
  letter-spacing: 1px;
  margin-top: -20px;
}
.entry-content {
  line-height: 24px;
  font-size: 16px;
  font-family: 'Neucha', cursive;
  color: #555;
  letter-spacing: 1px;
}
.read-more {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Neucha', cursive;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 25px 0 0;
  color: #373737;
  border: 1px solid #222;
  padding: 9px 30px 5px 30px;
  width: 145px;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: #373737;
    &:hover {
      color: #C58917;
    }
  }
}
.post-footer {
  background-color: #e0e0e0;
  text-transform: uppercase;
  height: 60px;
  span {
    padding-top: 10px;
    color: #909090;
    font-family: 'Neucha', cursive;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: 2px solid #C58917;
  }
}
.share-buttons {
  list-style: none;
  margin-top: -30px;
  li {
    display: inline-block;
    padding-left: 15px;
  }
  a {
    text-decoration: none;
    color: #898989;
    &:hover {
      color: #C58917;
    }
  }
}
.image {
  width: 100%;
}
@media (max-width: 568px) {
  .post {
    margin-top: 50px;
  }
  .share-buttons {
    margin-top: -80px;
  }
}
@media (min-width: 589px) and (max-width: 991px) {
  .post {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .post {
    width: 990px;
    margin-top: 50px;
  }
  .image {
    position: relative;
    margin: 0 auto;
  }
}
