.pagination {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Neucha', cursive;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 40px;
}
.pagination a {
  text-decoration: none;
  border: 1px solid #C58917;
  padding: 4px 5px 2px 5px;
  color: #c58917;
}
.pagination a:hover {
  background-color: #C58917;
  color: #fff;
}
.pagination span, em {
  border: 1px solid #C58917;
  padding: 4px 4px 2px 4px;
  color: #777;
}

