<% provide(:title, "About Me") %>
<div id="about">
  <div class="about-wrapper">
    <div class="grid">
      <div class="unit one-quarter center-on-mobiles">
        <div class="profile">
        <%= image_tag("profile.png", class: "profile-image") %>
        </div>
      </div>
      <div class="unit three-quarters">
        <div class="grid">
          <div class="unit half">
            <div class="name">
              <h1>Matija Ramic</h1>
            </div>
          </div>
          <div class="unit half">
            <div class="description">
              <p>RoR / Web developer</p>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="unit one-fourth">
            <div class="skills skill-one">
              <%= link_to "", "https://twitter.com/matijaramic", class: "fa fa-twitter fa-2x" %>
            </div>
          </div>
          <div class="unit one-fourth">
            <div class="skills skill-two">
              <%= link_to "", "https://www.linkedin.com/profile/view?id=AAIAABNpgBUBsTvMIF8yJqPaNeZGA4Gndt7mp30&trk=nav_responsive_tab_profile", class: "fa fa-linkedin fa-2x" %>
            </div>
          </div>
          <div class="unit one-fourth">
            <div class="skills skill-three">
              <%= link_to "", "https://www.facebook.com/matija.ramic", class: "fa fa-facebook fa-2x" %>
            </div>
          </div>
          <div class="unit one-fourth">
            <div class="skills skill-four">
              <%= mail_to "matijaramic@gmail.com", "", class: "fa fa-envelope-o fa-2x" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-content">
    <p>Lorem ipsum dolor sit amet, at agam alterum ullamcorper his, ea pri velit minim suavitate, adhuc dictas theophrastus eum ne. Cum justo oratio audire ei, mollis commodo persius qui ex, nihil assentior his at. Qui novum appareat ex, quando tacimates delicata cu nec. Odio esse legimus id eum.
    </p>
    <p>Lorem ipsum dolor sit amet, at agam alterum ullamcorper his, ea pri velit minim suavitate, adhuc dictas theophrastus eum ne. Cum justo oratio audire ei, mollis commodo persius qui ex, nihil assentior his at. Qui novum appareat ex, quando tacimates delicata cu nec. Odio esse legimus id eum.
    </p>
    <p>Lorem ipsum dolor sit amet, at agam alterum ullamcorper his, ea pri velit minim suavitate, adhuc dictas theophrastus eum ne. Cum justo oratio audire ei, mollis commodo persius qui ex, nihil assentior his at. Qui novum appareat ex, quando tacimates delicata cu nec. Odio esse legimus id eum.
    </p>
  </div>
</div>
