<% provide(:title, "Home") %>
<% @pages.each do |page| %>
  <div class="post">
    <div class="post-image">
      <% if false %>
      <% if page.image.present? %>
        <%= page_image_tag(page, :large) %>
      <% else %>
        <%= page_image_tag(page, :no_image) %>
      <% end %>
    <% end %>
    <%= image_tag "profile.png" %>
    </div>
    <div class="entry-blog">
      <h2 class="title"><%= link_to_blog page %></h2>
      <p class="date">Posted on <%= Time.now.strftime("%Y.%d.%m %H:%M") %></p>
    </div>
    <div class="entry-content">
      <div class="grid">
        <div class="unit whole">
          <%= md_to_html page.short_description %>
        </div>
      </div>
      <div class="grid">
        <div class="unit whole">
          <div class="read-more">
            <%= link_to_blog page, text: "Read More" %>
          </div>
        </div>
      </div>
    </div>
    <div class="post-footer">
      <div class="grid">
        <div class="unit half">
          <span class="pull-left">Share</span>
        </div>
        <div class="unit half">
          <ul class="share-buttons pull-right">

            <li><%= link_to "", "https://twitter.com/share?url=#{request.original_url}", title: "Share on Twitter", popup: true, class: "share-btn fa fa-twitter", target: "_blank" %></li>
            <li><%= link_to "", "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", title: "Share on Facebook", class: "share-btn fa fa-facebook", target: "_blank" %></li>
            <li><%= link_to "", "https://plus.plusgoogle.com/share?url=#{request.original_url}", title: "Share on Google+", class: "fa fa-google-plus", target: "_blank" %></li>
            <li><%= link_to "", "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}", title: "Share on LinkedIn", class: "fa fa-linkedin", target: "_blank" %></li>
            <li><%= mail_to "", "", body: "#{request.original_url}",title: "Send via Email", class: "fa fa-envelope-o" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @pages %>

