<div id="footer">
  <div class="footer-wrapper">
    <ul class="grid">
      <li class="unit one-third">
        <%= link_to image_tag("logo.png", class: "footer-logo"), root_path %>
      </li>
      <li class="unit one-third">
        <p>Copyright © Matija Ramić</p>
      </li>
      <li class="unit one-third">
        <%= link_to "", "", class: "scrollup fa fa-chevron-up fa-2x" %>
      </li>
    </ul>
  </div>
</div>
