<div id="header">
  <%= link_to image_tag("logo.png", class: "logo-mobile"), root_path %>
  <a href="#", id="toggle-nav"></a>
  <div id="nav-container">
    <a href="#", id="close-nav"></a>
  <%= link_to image_tag("logo.png", class: "logo-name"), root_path %>
    <%= render_main_menu %>
  </div>
</div>
