<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Admin </title>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <%= render_flash_messages %>
    <%= render 'layouts/admin/header' %>

    <%= yield %>

  </body>
</html>
